body {
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  padding: 0%;

  margin: 0px 0px 0px 0px;

  background-color: rgb(14, 8, 0);

  /*corriger le margin top pour qu'il se cale automatiquement au centre de 'window' */
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  margin: 0px auto;
  height: 100px;
}

/*  */

.container {
  width: 50vh;

  margin: auto;
  border-radius: 20px;
}

.time-container1 {
  display: flex;
  justify-content: center;

  font-size: 3rem;
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0.275);
  width: 50%;
  border-radius: 30px;
}

/*.time-container2 {
  font-size: 3rem;
  color: aliceblue;
}*/

.time1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  height: 100px;*/
}

.time2 {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*justify-content: space-evenly;*/
  /*column-gap: 50px;*/
  /*align-items: center;*/
  width: 500px;
  height: 100px;
}

/*  */
.lesbtn {
  position: absolute;
  z-index: 999;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  column-gap: 50px;
  /*align-items: center;*/
  border-width: 1em;
}
.reset,
.start {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 80px;
  color: bisque;
  background-color: chocolate;
  border-radius: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /*font-weight: 50px;*/
  font-size: 30px;
}

.reset {
  /*display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  color: bisque;*/
  background-color: rgb(210, 30, 90);
  /*border-radius: 100px;*/
}
/*#h0 #m0 #s0 {
  align-content: center;
  align-self: center;
}*/
